@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;700&family=Open+Sans:wght@400;600;800&display=swap');

:root {
    --accent-color: #E48874;
    --tag-color: #875154;
    --btn-color: #67B095;
    --light-color: #D6D0D0; /*#3CFFB1;*/
    --dark-color: #111717; /*#08161D;*/
    --trans-accent-color: rgba(228, 136, 116, 0.6);
    --trans-tag-color: rgba(135, 81, 84, 0.6);
    --trans-btn-color: rgba(103, 176, 149, 0.6);
    --main-font: 'Libre Franklin', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-color);
}

a {
    text-decoration: none;
}

/* Home section */

#welcome-section {
    padding: 0 1rem;
    display: flex;
    flex-direction: column-reverse;
}

.photo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding-left: 0.2rem;
}

.flip-img {
    background-color: transparent;
    width: 130px;
    height: 130px;
    perspective: 1000px;
}

.flip-img-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-img:hover .flip-img-inner,
.flip-img:active .flip-img-inner {
    transform: rotateY(180deg);
}

.flip-img-front, .flip-img-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-img-front {
    background-color: var(--dark-color);
}

.flip-img-back {
    background-color: var(--dark-color);
    transform: rotateY(180deg);
}

.ticklish {
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--light-color);
    transform: translateY(-3em);
    text-shadow: 1px 1px 1px var(--tag-color);
}

.intro {
    display: flex;
    flex-direction: column;
    transform: translateY(1.5rem);
}

.main-text {
    font-size: 2rem;
    text-align: right;
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--accent-color);
    margin-bottom: 0;
}

.subtitle {
    text-align: right;
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--light-color);
    margin-top: 0;
}

/* Skills section */

#skills {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 1rem 1.2rem;
    color: var(--light-color);
    font-family: var(--secondary-font);
}

.highlight {
    color: var(--accent-color);
    font-weight: bold;
}

/* Projects section */

.main-title {
    font-size: 1.5rem;
    color: var(--light-color);
    margin: 10% 0 0;
    text-align: center;
}

.projects-container {
    max-width: 1920px;
    margin: 0 auto;
}

#projects {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.project-tile {
    width: 100%;
    height: 200px;
    text-decoration: none;
    background-color: var(--tag-color);
}

.project-img {
    width: 25%;
    height: 200px;
    object-fit: cover;
    position: absolute;
}

.text-wrapper.translation-tile {
    background: var(--trans-tag-color);
}

.text-wrapper.site-tile {
    background: var(--trans-btn-color);
}

.text-wrapper.webapp-tile {
    background: var(--trans-accent-color);
}

.text-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
}

.project-tag {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px var(--light-color);
    padding: 0.1rem 0.3rem;
}

.translation-tag {
    color: var(--tag-color);
}

.site-tag {
    color: var(--btn-color);
}

.webapp-tag {
    color: var(--accent-color);
}

.project-description {
    font-family: var(--secondary-font);
    color: var(--dark-color);
    font-weight: 600;
    display: flex;
    align-self: flex-end;
    text-shadow: 1px 1px 1px var(--light-color);
    padding: 0.2rem 0.3rem;
}

/* Profiles section */

#profiles {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.fab {
    font-size: 2.7rem;
    color: var(--accent-color);
    padding: 1rem;
}

.show-more {
    background-color: var(--btn-color);
    border-radius: 10%;
    color: var(--dark-color);
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--secondary-font);
    padding: 0.5rem;
    display: block;
    margin: 1.5rem auto;
}

@media only screen and (min-width: 600px) {

    .home-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #welcome-section {
        display: flex;
        flex-direction: row;
        margin: 20% 10%;
    }

    .intro {
        transform: translateY(-7rem);
        justify-content: flex-start;
    }

    .photo {
        width: 200px;
        height: 200px;
    }

    .flip-img {
        width: 200px;
        height: 200px;
    }

    .ticklish {
        font-size: 2em;
        transform: translateY(-3em);
    }

    .main-text {
        font-family: var(--main-font);
        font-size: 5.8rem;
        text-align: left;
        transform: translateX(-1.5rem);
    }

    .subtitle {
        font-size: 2rem;
        text-align: left;
        transform: translateX(-1.5rem);
    }

    .main-title {
        font-size: 2rem;
        margin: 20% 0 5%;
    }

    #skills {
        font-size: 1.5rem;
        padding: 3rem 10rem;
        color: var(--light-color);
        font-family: var(--secondary-font);
        line-height: 2;
    }

    #projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .text-wrapper:hover {
        transition: all 0.8s ease;
        background: rgba(17, 23, 23, 0.6);
        opacity: 1;
    }

    .show-more {
        font-size: 1.5rem;
        padding: 0.8rem 1rem;
        display: block;
        margin: 3rem auto 1rem;
    }

    #profiles {
        justify-content: center;
    }

    .fab {
        padding: 0 2rem;
    }
}