@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@700&family=Open+Sans:wght@300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --accent-color: #E48874;
    --tag-color: #875154;
    --btn-color: #67B095;
    --light-color: #D6D0D0;
    --dark-color: #111717;

    --main-font: 'Noto Sans HK', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --bold-weight: 700;
    --medium-weight: 600;
    --light-weight: 300;
}

html, body {
    background-color: var(--dark-color);
}

a {
    text-decoration: none;
}

/*  Menu section */

nav {
    z-index: 999;
}

.nav {
    background: var(--dark-color);
    position: fixed;
    right: 0;
    box-shadow: 0 0 3em rgba(255,255,255,.15);
    transform: translateX(100%);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1)
}

.nav__list {
    font-family: var(--secondary-font);
    font-weight: var(--light-weight);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 3em 6em;
}

.nav__item {
    margin-bottom: 2em;
}

.nav__link {
    text-decoration: none;
    color: var(--light-color);
}

.nav__link > .fab {
    color: var(--light-color);
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid var(--light-color);
}

.social-menu {
    display: grid;
    grid: auto / repeat(auto-fill, minmax(1.8rem, 1fr));
    grid-gap: 3px;
}

.social-menu li {
    list-style: none;
    margin: 0;
    padding: 0 3em 1em 0;
}

.nav__toggle {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: var(--dark-color);
    padding: 1em .5em;
    border: 0;
    border-radius: .25em 0 0 .25em;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 1.5em;
  height: 3px;
  background: var(--light-color);
  transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
}

.hamburger::before {
    bottom: 6px;
}

.hamburger::after {
    top: 6px;
}

/* Navigation open styles */

.nav-open .nav {
  transform: translateX(0);
}

/* Change this stuff below */

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  opacity: 0;
}

.nav-open .hamburger::after {
  transform: rotate(90deg) translate(-6px);
}

/* Home section */
#menu-welcome {
    padding-top: 1rem;
}

.welcome-section {
    padding: 0 1rem;
    display: flex;
    flex-direction: column-reverse;
}

.photo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding-left: 0.2rem;
}

.flip-img {
    background-color: transparent;
    width: 130px;
    height: 130px;
    perspective: 1000px;
}

.flip-img-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-img:hover .flip-img-inner,
.flip-img:active .flip-img-inner {
    transform: rotateY(180deg);
}

.flip-img-front, .flip-img-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-img-front {
    background-color: var(--dark-color);
}

.flip-img-back {
    background-color: var(--dark-color);
    transform: rotateY(180deg);
}

.ticklish {
    font-family: var(--secondary-font);
    font-weight: var(--medium-weight);
    color: var(--light-color);
    transform: translateY(-3em);
    text-shadow: 1px 1px 1px var(--tag-color);
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0.5rem;
}

.main-text {
    font-family: var(--main-font);
    font-size: 1.8rem;
    font-weight: var(--bold-weight);
    text-align: right;
    color: var(--accent-color);
}

.subtitle {
    font-family: var(--secondary-font);
    font-weight: var(--light-weight);
    text-align: right;
    color: var(--light-color);
    padding: 0.3rem 0;
}

/* Skills section */

#menu-skills {
    padding-top: 5rem;
}

.skills {
    margin: 4rem 1.2rem;
    color: var(--light-color);
    font-family: var(--secondary-font);
    font-weight: var(--light-weight);
    line-height: 1.8;
}

.highlight {
    color: var(--accent-color);
    font-weight: var(--bold-weight);
}

/* Projects section */

.main-title {
    font-family: var(--secondary-font);
    font-weight: var(--medium-weight);
    font-size: 1.5rem;
    color: var(--light-color);
    /*margin: 20% 0;*/
    text-align: center;
    padding: 2rem 1rem;
}

.projects {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.project-tile {
    margin-top: 3px;
    width: 300px;
    height: 200px;
    text-decoration: none;
    flex: 1 0 300px;
}

.project-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: absolute;
    filter: grayscale(100%) opacity(40%);
}

.text-wrapper {
    position: relative;
    min-width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.project-tag {
    font-family: var(--main-font);
    font-weight: var(--bold-weight);
    font-size: 1.3rem;
    padding: 0.4rem 0.7rem;
    width: 150px;
    border-radius: 0 50px 0 0;
    color: var(--light-color);
}

.translation-tag .project-tag {
    background-color: var(--tag-color);
}

.site-tag .project-tag {
    background-color: var(--btn-color);
}

.webapp-tag .project-tag {
    background-color: var(--accent-color);
}

.project-description {
    text-align: right;
    font-family: var(--secondary-font);
    color: var(--light-color);
    font-weight: var(--medium-weight);
    text-shadow: 1px 1px 1px var(--dark-color);
    padding: 0.4rem;
}

/* Profiles section */

.profiles {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.fab {
    font-size: 2.7rem;
    color: var(--accent-color);
    padding: 1rem;
}

.show-more {
    background-color: var(--btn-color);
    border-radius: 10%;
    color: var(--dark-color);
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: var(--medium-weight);
    padding: 0.5rem;
    display: block;
    margin: 1.5rem auto;
}

.show-less {
    display: none;
}

@media only screen and (min-width: 600px) {

    .nav {
        margin: 1rem;
        padding: 1rem;
    }

    .nav__item {
        font-size: 1.5rem;
        font-family: var(--secondary-font);
    }

    .nav__link > .fab {
        font-size: 1.8rem;
        padding: 0.8rem;
    }

    .social-menu {
        display: grid;
        grid: auto / repeat(auto-fill, minmax(3.2rem, 1fr));
        justify-content: center;
    }

    .social-menu li {
        font-size: 1.5em;
        margin: 0 3rem 1rem 0;
    }

    .nav__link:hover,
    .nav__link:active {
        text-decoration: underline;
        color: var(--accent-color);
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        width: 2em;
        height: 2px;
    }

    .home-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .welcome-section {
        flex-direction: row;
        margin: 20% 10%;
        justify-content: center;
        align-items: center;
    }

    .intro {
        transform: translateY(-7rem);
        justify-content: flex-start;
    }

    .photo {
        width: 200px;
        height: 200px;
    }

    .flip-img {
        width: 200px;
        height: 200px;
    }

    .ticklish {
        font-size: 1.2em;
        transform: translateY(-2em);
    }

    .main-text {
        font-size: 4.5rem;
        text-align: left;
        transform: translateX(-1.5rem);
    }

    .subtitle {
        letter-spacing: 0.09rem;
        font-size: 1.8rem;
        text-align: left;
        transform: translateX(-1.5rem);
    }

    .main-title {
        font-size: 2rem;
        margin: 20% 0 5%;
    }

    #menu-skills {
        padding-top: 10rem;
    }

    .skills {
        padding: 3rem 10rem;
        font-size: 1.5rem;
        line-height: 2;
        min-height: 100vh;
    }

    #menu-projects {
        padding-top: 1rem;
    }

    .projects {
        display: grid;
        grid: auto / repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 3px;
    }

    .project-tile {
        margin: 0;
    }

    .project-img {
        width: 300px;
        box-sizing:border-box;
    }

    .text-wrapper {
         width: 300px;
    }

    .translation-tag:hover, 
    .translation-tag:focus {
        outline: 4px solid var(--tag-color);
    }

    .site-tag:hover, 
    .site-tag:focus {
        outline: 4px solid var(--btn-color);
    }

    .webapp-tag:hover, 
    .webapp-tag:focus {
        outline: 4px solid var(--accent-color);
    }

    .project-tile:hover .project-img,
    .project-tile:focus .project-img {
        filter: grayscale(0%);
        transition: filter 350ms ease-in-out;
    }

    .project-tile:hover .project-description,
    .project-tile:focus .project-description {
        color: var(--dark-color);
    }

    .project-tile:hover .dark-bgd,
    .project-tile:focus .dark-bgd {
        color: var(--light-color);
    }

    .show-more {
        display: none;
    }

    .show-less {
        display: inline-block;
    }
    
    .main-title:last-of-type {
        font-size: 2rem;
        margin: 0;
    }

    .profiles {
        justify-content: center;
        align-items: center;
        padding: 4rem 0;
    }

    .fab {
        padding: 2rem;
    }
}